.typewriter-left {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  float: left;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}


.test-class{
  color: red;
  size: 50;
  align-items: left;
  animation: 
    outward-line 3.5s linear infinite,
}

.typewriter-right {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  float: right;
  animation: 
    typing 3.5s steps(30, end) backwards,
    blink-caret .75s step-end infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 10% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes outward-line {
  from { width: 0% }
  to { width: 50% }
}

  
  /* The typing effect */
  @-moz-keyframes typing  /* Firefox */
{
  from { width: 0 }
  to { width: 10% }
}
@-webkit-keyframes typing  /* Safari and Chrome */
{
  from { width: 0 }
  to { width: 10% }
}
@-webkit-keyframes blink-caret  /* Safari and Chrome */
{
  from, to { border-color: transparent }
  50% { border-color: black; }
}
@-moz-keyframes blink-caret  /* Firefox */
{
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@-webkit-keyframes outward-line  /* Safari and Chrome */
{
  from { width: 0 }
  to { width: 20% }
}
@-moz-keyframes outward-line  /* Firefox */
{
  from { width: 0 }
  to { width: 20% }
}
