h1, h2{
    font-family: 'Oxygen', sans-serif;
}
.navbar{
    position: fixed;
    z-index: 3;
    background-color: white;
    top: 0%;
    padding: 0.5%;
}
.navbar a{
   display: block;
   float: left;
   padding-right: 1%;
   text-decoration: none;
   color: black
}
a:visited{
    color: grey;
}
body, a{
    font-family: 'Fira Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
tr{
    color: black;
    width: 20%;
    size: 10px;
}

/* Contect flexbox */
.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-mail, .contact-phone, .contact-web{
    flex-direction: column;
    justify-content: center;
}
/* Site Footer Styling */
.site-footer img{
    margin: 2px;
  }
  
  .Site-Footer-Copyright, .Site-Footer-Cv, .Site-Footer-Social-Media{
    width: 33.3%;
    float: left;
  }
  
  
  footer{
      font-size: 8px;
      padding: 50px;
      text-align: center;
  }
