/* General */
h1, h2{
    font-family: 'Oxygen', sans-serif;
}
h2{
    font-size: 10vm;
}
body, a, h3, p{
    font-family: 'Fira Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}

/* Navigation Bar */
.dynamicNav{
    z-index: 3;
    background-color: white;
    width: 100%;
}
.navbar a{
   display: block;
   float: left;
   padding-right: 1%;
   text-decoration: none;
   color: black
}

.dynamicNav a.icon{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0.5%;
    color: black;
    top:0%;
}

.dynamicNavIcon a.icon{
    display: none;
    padding: 0.5%;
}

.navbar span{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 1%;
    top:0%;
}

.navbar a:hover{
    /*color: grey;*/
    color: #a15727;
}


/* Introduction */
.self-portrait{
    width: 40%;
    max-height: 100%;
    border-radius: 30%;
    float: right;
    margin: 5%;
    filter: grayscale(100%);
    
}
.self-portrait:hover{
    filter: grayscale(0%);
}
.intro-welcome{
    margin: 5%;
    width: 70%;
}

/* Contact*/
.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-links a{
    display: flex;
    justify-content: center;
}
.contact-mail, .contact-phone, .contact-web{
    flex-direction: column;
}

/* Site Footer Styling */
.site-footer img{
    margin: 2px;
  }
  .Site-Footer-Copyright, .Site-Footer-Cv, .Site-Footer-Social-Media{
    width: 33.3%;
    float: left;
    display: flex;
  }
  .Site-Footer-Cv, .Site-Footer-Social-Media{
    width: 33.3%;
    float: left;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .Social-Media-Llinks{
      flex-direction: row;
  }
.Social-Media-Links a:hover{
    background-color: #a15727;
    border-radius: 50%;
}
footer{
    font-size: 10px;
    padding: 50px;
    text-align: center;
}
.icon-disclaimer{
    font-size: 8px;
}

