.App-Header{
    width: 100%
}
div{
    width: 100%
}
#main{
    display: flex;
    flex-direction: column;
}

/* Animation Responseive Containers*/
.animation-responsive-container{
    display:flex;
    flex-direction:row;
    align-items: top;
}
.animation-responsive-text{
    flex-grow:0;
    width: auto;
}
.animation-responsive-line{
    flex-grow:0;
    height: 1px;
    background-color: #000;
}