.project-container{
    color: white;
    width: 75%;
    padding: 1%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.project-title-container{
    background-color: black;
    padding: 1%;
}
.project-title{
    color: #6e4623;
    font-weight: bolder;
}
.project-details{
    background-color: grey;
    display: flex;
    padding: 1%;
}
.project-description{
    flex: 1;
    flex-direction: row;
    padding: 1%;
}
.project-description p{
    background-color: #6e4623;
    border: solid 1px white;
    padding: 10%;
    margin: 1%;
}
.project-depiction{
    flex: 2;
    position: relative;
    left: 5%;
    top: 10px;
}
.project-picture{
    height: 80%;
    width: 80%;
}
.project-tech-stack li{
    display: inline;
    padding-left: 0%;
}
.project-github-link {
    margin-top: 10%;
    padding-left: 40px;
}
.project-github-link a {
    padding-left: 2%;
}
.project-description li{
    padding: 2%;
    margin: 2%;
    border: solid 1px white;
    background-color: #6e4623;



}
