
# dependencies
./backend/node_modules
./node_modules

# testing
/coverage

# production
./blog/build

# misc
.DS_Store
./backend/.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
./backend/.env.local
./backend/.env.production
./backend/.env.stage
